 body {
  background-color: #808080;
  font-family: "Roboto", sans-serif;
}
 
 nav {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: normal;
  background-color:  #0a0a23;
}

ul li {
  list-style: none;
  display: inline;
}

a {
  font-weight: 700;
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  padding-bottom: 5px;
  box-shadow: inset 0 -2px 0 0 #fff;
}

#todos {
width: 100px;
}


#logado {
  width: 200px;
}

div {
  border-radius: 25px;
}

th:hover{
  box-shadow: inset 0 -2px 0 0 #fff;
}

table {
  border-collapse:separate;
  border:solid black 1px;
  border-radius:6px;
  -moz-border-radius:6px;
}

td, th {
  border-left:solid black 1px;
  border-top:solid black 1px;
}


td:first-child, th:first-child {
   border-left: none;
}

.dia-semana:not(hover){
  opacity: 0.3;
}

.form-control{
  width: auto;
}

#dia-a-mais{
  font-size: large;
  font-weight: bolder;
  border-left: none;
}
